<!-- wp:group {"tagName":"footer","align":"full","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<footer class="wp-block-group alignfull">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:site-title /-->
		<!-- wp:social-links {"layout":{"type":"flex","justifyContent":"left"}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":6} -->
		<h6>Links</h6>
		<!-- /wp:heading -->
		<!-- wp:navigation {"menuSlug":"footer-links"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":6} -->
		<h6>Subscribe</h6>
		<!-- /wp:heading -->
		<!-- wp:paragraph -->
		<p>Get updates and insights monthly.</p>
		<!-- /wp:paragraph -->
		<!-- wp:buttons -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button"><a class="wp-block-button__link">Subscribe</a></div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</footer>
<!-- /wp:group -->
