<!-- wp:group {"tagName":"footer","align":"full","layout":{"type":"constrained"}} -->
<footer class="wp-block-group alignfull">
	<!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
	<h2 class="has-text-align-center has-large-font-size">Ready to build your next project?</h2>
	<!-- /wp:heading -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link">Let's Get Started</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->

	<!-- wp:separator {"opacity":"20"} /-->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">© 2025 Aura Theme. Crafted with ❤️</p>
	<!-- /wp:paragraph -->
</footer>
<!-- /wp:group -->
