<!-- wp:group {"tagName":"footer","align":"full","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"wrap"}} -->
<footer class="wp-block-group alignfull">
	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:site-title /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":6} -->
		<h6>Products</h6>
		<!-- /wp:heading -->
		<!-- wp:navigation {"menuSlug":"products-links"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":6} -->
		<h6>Company</h6>
		<!-- /wp:heading -->
		<!-- wp:navigation {"menuSlug":"company-links"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":6} -->
		<h6>Support</h6>
		<!-- /wp:heading -->
		<!-- wp:navigation {"menuSlug":"support-links"} /-->
	</div>
	<!-- /wp:group -->
</footer>
<!-- /wp:group -->
